<?xml version="1.0" encoding="ISO-8859-1"?>
<Config>
    <greg_url>https://localhost:9443</greg_url>
    <no_of_tenants>2000</no_of_tenants>
    <tenant_domain_postfix_start_number>1</tenant_domain_postfix_start_number>
    <tenant_domain_prefix>perf_</tenant_domain_prefix>
    <tenant_admin_name>admin</tenant_admin_name>
    <tenant_admin_password>password</tenant_admin_password>
    <tenant_admin_email>admin@wso2.com</tenant_admin_email>
    <tenant_admin_first_name>Greg</tenant_admin_first_name>
    <tenant_admin_last_name>Admin</tenant_admin_last_name>
    <no_of_rxt_instances>10</no_of_rxt_instances>
    <rxt_name>application</rxt_name>
    <system_admin_username>admin</system_admin_username>
    <system_admin_password>admin</system_admin_password>
    <jksLocation>/home/samith/WSO2/AppFactory/performance/danushka/GregTest/Greg_Load_Test/src/main/resources/wso2carbon.jks</jksLocation>
    <jkspassword>wso2carbon</jkspassword>
    <application_key_prefix>perfapp_</application_key_prefix>
    <application_desc>Performance test application</application_desc>
    <application_type>war</application_type>
    <application_repo_accecibility>true</application_repo_accecibility>
    <application_repo_type>git</application_repo_type>
    <application_postfix_start_number>1</application_postfix_start_number>
    <webappname>javaapp11-default-SNAPSHOT</webappname>
    <no_of_tenants_to_load>50</no_of_tenants_to_load>
    <tenant_create_sleep_time>30000</tenant_create_sleep_time>
    <application_create_sleep_time>10000</application_create_sleep_time>
    <tenant_load_sleep_time>10000</tenant_load_sleep_time>
    <output_csv_file>/home/samith/WSO2/AppFactory/performance/danushka/results/output/result.csv</output_csv_file>
</Config>